BOT_TOKEN={TG_TOKEN}

SAUCENAO_API_KEY={API_KEY}

DANBOORU_API_KEY={API_KEY}
DANBOORU_LOGIN={DAN_LOGIN}

USER_AGENT={example = "User Agent For Example/0.1"} # Какой-либо уникальный для работы с danbooru-подобными сайтами

DANBOORU_DOMAIN=danbooru.donmai.us

USELESS_HOSTS={example = ["twimg.com", "..."]} # Список бесполезных источников

DAILY_LIMIT=15 # Лимит использований API на юзера
OWNER_ID={TG_ID}